.list__minerals .container__detail {
    background-color: #fff;
    border-radius: 6px;
    list-style: none;
    padding-bottom: 100px;
    text-align: center;
}
.mineral__container {
    display: flex;
}

.mineral__image-bg {
    width: auto;
    margin-bottom: 98px;
}

td {
    padding: 15px 10px 40px 0;
    vertical-align: top;
}

.mineral__table td{
    border-color: #F4F4F4;
}

.mineral__category {
    color: darkgrey;
    width: 30%
}


@media only screen and (max-width: 950px)  {
    .mineral__container {
        display: block;
    }
    .mineral__image-bg {
        margin-bottom: 0;
    }
    .mineral__table-container {
        max-height: 100%;
    }

}